nav {
    height: 50px;
    z-index: 99;
}

.navbar-collapse.collapse.show {
    background: white;
    padding: 20px;
}

// nav {
//     height: 50px;
//     display: flex;
//     justify-content: space-between;
//     padding: 5px 15px;
//     .logo {
//         display: flex;
//         align-items: center;
//         img {
//             width: 40px;
//             margin-right: 10px;
//         }
//         h2 {
//             font-size: 30px;
//             color: darkblue;
//             font-family: ui-sans-serif;
//             span {
//                 color: orange;
//             }
//         }
//     }
//     ul {
//         display: flex;
//         li {
//             list-style: none;
//             font-size: 18px;
//             font-weight: 500;
//             color: orange;
//             font-family: ui-sans-serif;
//             margin-left: 15px;
//             cursor: pointer;
//         }
//         li.active {
//             color: darkblue;
//             text-decoration: underline;
//         }
//     }
// }
.content {
    height: calc(100vh-50px);
}

@media (max-width: 480px) {
    // nav {
    //     .logo {
    //         h2 {
    //             font-size: 15px;
    //         }
    //     }
    //     ul {
    //         li {
    //             font-size: 15px;
    //         }
    //     }
    // }
}