<div class="containerBx" *ngIf="showListContainer">
  <h2 class="pb-2">Admin Dashboard</h2>
  <p class="border-bottom"> Mandal wise <b>Spectators </b> are shown in bracket</p>
  <div class="row mb-3">
    <div class="col-md-2">
      <div class="card text-center mb-2">
        <div class="card-header bg-info">
          Total Players
        </div>
        <div class="card-body">
          <h5 class="card-title">{{totalRegs}}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card text-center mb-2">
        <div class="card-header bg-warning">
          Total Spectators
        </div>
        <div class="card-body">
          <h5 class="card-title">{{totalSpecs}}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-2" *ngFor="let d of dashboardData">
      <div class="card text-center mb-2">
        <div class="card-header">
          {{d._id}}
        </div>
        <div class="align-content-center card-body d-flex row">
          <div class="col">
            <h5 class="card-title">{{d.countPlayer + d.countSpectator}} ({{d.countSpectator}})</h5>
          </div> /
          <div class="col">
            <h5 class="card-title">{{d.target}}</h5>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="head">
    <h2>Players List</h2>
    <button class="btn btn-outline-success" (click)="exportexcel()">Export Excel</button>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 inputText">
      <input type="text" placeholder="Enter Name for Filter" (keyup)='updateFilter($event)'>
    </div>
    <div class="col-md-4 selectSabha">
      <div class="form-group">
        <label for="sabha">Select Sabha</label>
        <select *ngIf="currentRole" #team class="form-control" id="sabha" (change)="selectSabha(team.value)">
          <option value="0" *ngIf="currentRole === 'Admin'">Select All</option>
          <option *ngFor="let sabha of sabhaOptionDisplay" [selected]="currentRole == sabha" [value]="sabha">{{sabha}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table table-bordered table-hover table-responsive-lg table-striped" id="excel-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Reg ID</th>
          <th scope="col">Name</th>
          <th scope="col">Sabha</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Participant Type</th>
          <th scope="col" *ngFor="let s of sportOption">{{s}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of rows; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{player?.sslId }}</td>
          <td>{{player?.firstName}} {{player?.lastName}}</td>
          <td>{{player?.sabha}}</td>
          <td>{{player?.emailId}}</td>
          <td>{{player?.mobileNo}}</td>
          <td>{{player?.memberType}}</td>
          <td *ngFor="let s of sportOption">{{player?.sports.includes(s) ? s : 'NA'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="text-center loginContainer" *ngIf="loginContainer">
  <button class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
    Admin Only
  </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Player List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="errorMsg">{{invalidMsg}}</p>
        <form [formGroup]="formModel" autocomplete="off">
          <div class="form-group" required>
            <label>User ID :</label>
            <input class="form-control" formControlName="userID">
            <span class="errorMsg" *ngIf="userID && userID.invalid && userID.touched">*Pls fill valid User ID</span>
          </div>
          <div class="form-group">
            <label>Password :</label>
            <input type="password" class="form-control" formControlName="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="formModel.invalid" (click)="onSubmit()">Login</button>
      </div>
    </div>
  </div>
</div>